:root {
  --color-base-primary: hsl(210, 50%, 35%);
  --color-base-bg: hsl(0, 0%, 95%);
  --color-base-text: hsl(217, 12%, 63%);

  --color-base-card-bg: hsl(0, 0%, 98%);

  /* button */
  --color-base-btn-bg-read: hsl(145, 63%, 42%);
  --color-base-btn-text-read: hsl(0, 0%, 100%);
  --color-base-btn-bg-read-hover: hsl(145, 63%, 52%);

  --color-base-btn-bg-not-read: hsl(0, 76%, 60%);
  --color-base-btn-text-not-read: hsl(0, 0%, 100%);
  --color-base-btn-bg-not-read-hover: hsl(0, 76%, 70%);

  --color-base-btn-bg-remove: hsl(210, 50%, 35%);
  --color-base-btn-text-remove: hsl(0, 0%, 100%);
  --color-base-btn-bg-remove-hover: hsl(210, 50%, 45%);
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  /* border: 1px solid red; */

  height: 100vh;
  width: 100vw;
  display: grid;

  grid-template-rows: minmax(100px, 1fr) 4fr;
  /* grid-template-rows: 1fr 4fr; */
}

.header {
  /* border: 2px solid blue; */

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end; */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.content {
  /* border: 2px solid green; */
  /* padding: 20px; */
  display: grid;
  /* grid-template-rows: 1.5fr 5fr; */
  /* grid-template-rows: minmax(100px, 1fr) 4fr; */

  background-color: var(--color-base-bg);
}

.add-book-container {
  /* border: 2px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cards-container {
  /* border: 2px solid yellow; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  padding: 20px;
}

.book-card {
  /* border: 2px solid blue; */
  background-color: var(--color-base-card-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds depth */

  padding: 20px;
  border-radius: 10px;
  height: 300px;

  display: grid;
  align-content: space-between;
  gap: 20px;
  /* column-gap: 150px; */

  font-size: 1.2rem;
}

.book-card .text {
  /* font-weight: bold; */
  font-style: italic;

  /* display: flex; */
  /* justify-content: center; */

  display: grid;
  grid-template-columns: 0.5fr 1fr;

  /* justify-items: center; */
  align-items: center;

  /* border: 1px solid green; */
  /* width: 100%; */
}

.book-card span.sub-text {
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;

  justify-self: center;

  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center; */
  /* width: 90%; */
}

/* --- Button --- */

.book-card button {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.book-card button.read {
  background-color: var(--color-base-btn-bg-read);
  color: var(--color-base-btn-text-read);
}

.book-card button.read:hover {
  background-color: var(--color-base-btn-bg-read-hover);
}

.book-card button.not-read {
  background-color: var(--color-base-btn-bg-not-read);
  color: var(--color-base-btn-text-not-read);
  /* color: white; */
}

.book-card button.not-read:hover {
  background-color: var(--color-base-btn-bg-not-read-hover);
}

.book-card button.btn-remove {
  background-color: var(--color-base-btn-bg-remove);
  color: var(--color-base-btn-text-remove);
}

.book-card button.btn-remove:hover {
  background-color: var(--color-base-btn-bg-remove-hover);
}

/* --- MODAL --- */

.modal {
  border: 1px solid blue;
  padding: 20px;
  border-radius: 10px;
  background-color: beige;

  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0);

  display: grid;
  grid-template-columns: minmax(250px, 1fr);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
  display: grid;
  justify-items: center;
  gap: 20px;

  appearance: none;
}

.add-book-form input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;

  font-size: 1.2rem;
  font-weight: bold;
}

.add-book-form input::placeholder {
  font-weight: normal;
}

.add-book-form .btn {
  width: 100%;
  background-color: greenyellow;
}

.add-book-form .is-read {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: right;
}

/* --- END MODAL --- */

/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-primary);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  /* color: var(--color-base-primary-green); */
  text-decoration: none;
  color: var(--color-base-primary);
}

.fa-github {
  /* color: var(--color-base-primary-green); */
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .book-cards-container {
    grid-template-columns: 1fr;
  }
}
